# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Packages
.packages
.pub-cache/

# Flutter
.dart_tool/
.idea/
.project
.settings/
build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Android
android/key.properties
android/local.properties
android/.gradle/
android/app/build/

# Web
.dart_tool/build/

# Executables
*.exe
*.dmg
*.deb
*.rpm

# Firebase
.firebase/
firebase.json
.firebaserc
